:root {
  --primary-color: #1e1e2e;
  --secondary-color: #fff;
  --input-width: 300px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

code {
  font-family: 'Montserrat', sans-serif;
}

input {
  color: #fff;
}

.btn-huy {
  height: 48px;
  margin-right: 20px;
  background-color: transparent;
  width: 168px;
  color: #ff7506;
  border: 1px solid #ff7506;
}
.btn-luu {
  height: 48px;
  width: 168px;
  background-color: #ff7506;
}

.modal-info {
  color: red;
}

.ant-modal .ant-modal-content {
  width: 536px;
  background: rgb(62, 62, 91);
  .anticon {
    display: none;
  }
}

span {
}
