:root {
  --primary-color: #1e1e2e;
  --secondary-color: #fff;
  --input-width: 300px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

code {
  font-family: 'Montserrat', sans-serif;
}
